
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Tercera Entrega Kaliszczak Franco{% endblock %}</title>
</head>
<body>
    <header>
        <h1>Bienvenido a la Administración de Empleados</h1>
        <nav>
            <ul>
                <li><a href="{% url 'agregar_comercio' %}">Agregar comercio</a></li>
                <li><a href="{% url 'agregar_empleado' %}">Agregar Empleado</a></li>
                <li><a href="{% url 'agregar_proyecto' %}">Agregar Proyecto</a></li>
                <li><a href="{% url 'buscar_empleado'%}">Buscar Empleado</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
